.sidenav {
    background-color: "primary";
    width: 276px;
    background-color: rgb(63, 81, 181);
}

.sidenav a {
    color: rgb(235, 235, 235);
    padding-top: 0.15cm;
    padding-bottom: 0.15cm;
}

.sidenav a:hover {
    color: white;
}

.content {
    padding: 16px;
    background-color: rgb(255, 255, 255);
}

.sidenav i {
    padding-right: 25px;
}