<mat-toolbar class="header mat-elevation-z4" color="primary">
    <span>
        <a>
            <img class="logo" src="assets/img/logo.png" alt="logo" />
        </a>
    </span>

    <span class="title-group">
        <a>
            <i class="material-icons v-middle">
                home
            </i>
            Início

        </a>
    </span>

    <span class="notification">
        <a>
            <i class="material-icons v-middle">
                notifications
            </i>
        </a>
    </span>

    <div>


        <div class="div-img-user">
            <img class="img-user" src="assets/img/user.png" alt="avatar" />
        </div>


        <div class="text-user">
            <p class="name-user">João Vínicius</p>

            <span class="ultimo-acesso">
                Ultimo Acesso: 15/05/2020 18:00:00
            </span>
            
        </div>

    </div>

</mat-toolbar>